{% include header.html %}

<article id="main">
	<div class="hero">
		<img alt="" src="data:image/gif;base64,R0lGODlhGAANAIAAAP///wAAACH5BAEAAAAALAAAAAAYAA0AAAIPhI+py+0Po5y02ouz3hwWADs=" />	
		<div class="carousel slide" id="feature-hero">
			<ol class="carousel-indicators">
				{% for i in page.heroImages %}
					<li data-target="#feature-hero" data-slide-to="{{ forloop.index | minus:1 }}" class="{% if forloop.index == 1 %}active{% endif %}"></li>
				{% endfor %}
			</ol>

			<div class="carousel-inner">
				{% for hero in page.heroImages %}
				<div class="item {% if forloop.index == 1 %}active{% endif %}">
					<img src='{{ hero[1].img }}' alt='{{ hero[1].alt }}' title='{{ hero[1].alt }}' class="hero-image" />
				</div>
				{% endfor %}
			</div>

		  <a class="left carousel-control" href="#feature-hero" data-slide="prev">
		    <span class="icon-prev"></span>
		  </a>
		  <a class="right carousel-control" href="#feature-hero" data-slide="next">
		    <span class="icon-next"></span>
		  </a>

		</div>
	</div>

	<div class="content">
		<section class="header">
			<h1 class="title">{{ page.title }}</h1>
			<h2>{{ page.subtitle }}</h2>
		</section>

		<section class="text">
		{{ content }}
		</section>

		<div class='article-head'>
			<h1><a href='/'><img src='/img/logo-retina.png' alt="LL. Austin, TX." /></a></h1>
			
			<ul class="nav navbar tags">
			{% for section in page.articleSections %}
				{% for s in section %}
				<li><a href='#{{ s[0] }}'>{{ s[1] }}</a></li>
				{% endfor %}
			{% endfor %}
			</ul>
			
			<div class="publication-info">
				<div class="date">{{ page.date | date_to_string }}</div>
			</div>
		</div>
	</div>
</article>
<script>
	$("document").ready(function(){
		setTimeout('setAffix(".article-head")',500);
		$("#feature-hero").carousel();
				
		$(".carousel-control,.carousel-indicators").click(function() {
			$("#feature-hero").carousel("pause");
		});
	});
</script>

{% include footer.html %}