<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">	
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:url" content="{{ page.url }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:image" content="/img/site-icon.jpg" />

	<meta http-equiv="refresh" content="0;url={{ page.redirectlUrl }}" />

	<link rel="image_src" href="/img/site-icon.jpg" />
	<script>
	   if (window.location.host != 'localhost:4000') {
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-42281524-1', 'lloydsarm.com');
	  ga('send', 'pageview');
	  }
	</script>
</head>
<body>

</body>
</html>
